*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  --bg-color-main: #F1F1F3;
  --bg-color-second: black;
  --color-main: #F1F1F3;
}
  /*--body--*/
body{
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}
/*--navigation--*/


.dropdown-menu{
  background-color: rgba(70, 66, 66, 0.6)!important;
  font-size: 1.1rem;
font-weight: 600;
letter-spacing: 0.1rem;
}
.navbar{
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  background-color: rgba(0,0,0,.6)!important;
}

a.navbar-brand{
  padding: 0.5rem;
}
.nav-item{
  padding: 0.5rem;

}

.nav-link.active
.nav-link:hover{
color: #fff!important;
}



.datos{
  position:absolute;
  top: 54%;
  transform: translateY(-50%);
  text-transform: uppercase;
  background-color: rgba(0,0,0, .2);
  color: var(--color-main);
  font-weight: 500;
  border-radius: 1rem;

}
/*--cards section--*/
.card-body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-body p{
  font-size: 1rem;
  font-weight: 500;
 }
ul{
  list-style-type: circle;
}
h3{
  text-align: center;
  padding:0;
}
/*--footer section--*/

.social-media img{
width: 35px;
height: 35px;
}

/*--js--*/
/*icons button*/
#ex, #prof, #acad, #idioma, #logo{
  width: 20px;
  height: 20px;
  }
  
  .v1, .v2, .v3, .v4{
    display: none;
  }
  /*--end of js--*/
/*-- Bootstrap Mobile Gutter Fix --*/
.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

@media(max-width: 768px){
  .datos{
    top: 27%;
    font-size: 0.6rem;
  }

.informatica p{
    font-size: 0.8rem;
  }
  }
